/.idea/
/crashdumps/
/players/
/plugin_data/
/stubs/
/worlds/
/vendor/
banned-ips.txt
banned-players.txt
ops.txt
plugin_list.yml
pocketmine.yml
server.log
server.properties
stub.php
white-list.txt

.php-cs-fixer.cache